<a href="https://colab.research.google.com/github/ravi18kumar2021/100DaysOfCode/blob/main/Day5_of_the_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##List

Q. Join Tuples if similar initial element

```
input - [(5, 6), (5, 2), (5, 8), (3, 5), (4, 7)]
output - [(5, 6, 2, 8), (3, 5), (4, 7)]
```

In [6]:
list1 = [(3, 6), (1, 7), (3, 4), (2, 4), (6, 3)]
unique = []
for i in list1:
  if i[0] not in unique:
    unique.append(i[0])
print(unique)
result = []
for j in unique:
  result.append([j])
  for k in list1:
    if k[0] == j:
      result[-1].append(k[1])
print(list(map(tuple, result)))

[3, 1, 2, 6]
[(3, 6, 4), (1, 7), (2, 4), (6, 3)]

In [ ]:
def join_tuples(tuples_list):
    tuples_list.sort(key=lambda x: x[0])
    result = []
    combined_tuple = None

    for i, tup in enumerate(tuples_list):
        if combined_tuple is None:
            combined_tuple = list(tup)
        elif tup[0] == tuples_list[i - 1][0]:
            combined_tuple.extend(tup[1:])
        else:
            result.append(tuple(combined_tuple))
            combined_tuple = list(tup)

    if combined_tuple is not None:
        result.append(tuple(combined_tuple))

    return result

list1 = [(3, 6), (1, 7), (3, 4), (2, 4), (6, 3)]
list2 = [(3, 6, 4), (1, 7), (2, 4), (6, 3)]

print("Joined list2 from list1:", join_tuples(list1))

Joined list2 from list1: [(1, 7), (2, 4), (3, 6, 4), (6, 3)]

Q. Multiply Adjacent elements (both side) and take sum of right and left side multiplication result.

In [ ]:
# (1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)
t = (1, 5, 7, 8, 10)
l = []
for i in range(len(t)):
  if i > 0 and i+1 < len(t):
    l.append(t[i] * t[i-1] + t[i] * t[i+1])
  elif i > 0:
    l.append(t[i] * t[i-1])
  elif i+1 < len(t):
    l.append(t[i] * t[i+1])
print(l)

[5, 40, 91, 136, 80]

Q. Check is tuples are same or not?

In [8]:
t1 = (3, 4, 6, 7)
t2 = (3, 4, 6, 7)
print(t1 == t2)

True

In [9]:
t1 = (3, 4, 6, 7)
t2 = (4, 6, 3, 7)

for i, j in zip(t1, t2):
  if i != j:
    print('not same')
    break
else:
  print('same')

not same

Q. Count no of tuples, list and set from a list

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
t = l = s = 0
for item in list1:
  if type(item) == tuple:
    t += 1
  elif type(item) == list:
    l += 1
  elif type(item) == set:
    s += 1
print("List -", l)
print("Set -", s)
print("Tuple -", t)

List - 2
Set - 2
Tuple - 1

Q. Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primary skill.

If no such candidate found, print 'No such candidate'.

input -
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```
output -
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [10]:
students = []

num = int(input('Enter no. of records : '))

for i in range(num):
  print('Enter details of student -', i+1)
  name = input('Enter name : ')
  edu = input('Enter higher education : ')
  skill = input('Enter primary skill : ')
  year = input('Enter year of graduation : ')
  students.append((name, edu, skill, year))

req_edu = input('Enter required higher education : ')
req_skill = input('Enter required primary skill : ')
req_year = input('Enter required year of graduation : ')

for j in students:
  if j[1] == req_edu and j[2] == req_skill and j[3] == req_year:
    print(j)
    break
else:
  print('No such candidate')

Enter no. of records : 3
Enter details of student - 1
Enter name : hitesh
Enter higher education : B.Sc.
Enter primary skill : Maths
Enter year of graduation : 2020
Enter details of student - 2
Enter name : Raghav
Enter higher education : B.Tech.
Enter primary skill : C++
Enter year of graduation : 2022
Enter details of student - 3
Enter name : Ravi
Enter higher education : B.A.
Enter primary skill : Graphic Design
Enter year of graduation : 2023
Enter required higher education : B.Sc.
Enter required primary skill : Maths
Enter required year of graduation : 2022
No such candidate

##Set

Q. Write a program to find set of common elements in three lists using sets.

```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
list(set(ar1).intersection(set(ar2)).intersection(set(ar3)))

[80, 20]

Q. Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

In [14]:
vowels = set('aeiouAEIOU')
string = 'This is A string To Count Unique Number of Vowels'
print('Count of unique vowels :', len(vowels & set(string)))

Count of unique vowels : 6

Q. Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

In [15]:
#str1 = '0101010111' -> binary
#str2 = '5252552' -> binary
#str3 = '4167761' -> not binary

string = input('Enter a string : ')
if len(set(string)) == 2:
  print('binary')
else:
  print('not binary')

Enter a string : 6555665
binary

Q. find union of n arrays.

```
input -
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

output -
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [20]:
array = [[1, 2, 2, 4, 3, 6],
        [5, 1, 3, 4],
        [9, 5, 7, 1],
        [2, 4, 1, 3]]

result = set()
for i in array:
  result.update(i)
print(result)

{1, 2, 3, 4, 5, 6, 7, 9}

In [24]:
print({5, 34, 7, 3}.union([6, 7, 34, 8]))

{34, 3, 5, 6, 7, 8}

Q. Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using list-comprehension.

```
input -
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

output - [9, 10, 4, 5]
```

In [26]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[i for i in lst1 if i in lst2]

[4, 5, 9, 10]

##Dictionary

Q. Given a dictionary with values list, extract key whose value has most unique values.

```
input - {"key1" : [5, 7, 9, 4, 0, 9], "key2" : [6, 7, 4, 3, 2, 8], "key3" : [9, 9, 6, 5, 5, 7]}

output - key2
```

In [27]:
test_dict = {"key1" : [5, 7, 9, 4, 0, 9], "key2" : [6, 7, 4, 3, 2, 8], "key3" : [9, 9, 6, 5, 5, 7]}
max_unique = 0
max_key = ''
for key, item in test_dict.items():
  if len(set(item)) > max_unique:
    max_unique = len(set(item))
    max_key = key
print(max_key)

key2

Q. Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

```
input -
test_str = "From the sea to the sky"
repl_dict = {"sea" : "top", "sky" : "bottom"}

output - "From the top to the bottom"
```

In [30]:
test_str = "From the sea to the sky"
repl_dict = {"sea" : "top", "sky" : "bottom"}

string = test_str.split()
for i in range(len(string)):
  if string[i] in repl_dict.keys():
    string[i] = repl_dict[string[i]]
print(' '.join(string))

From the top to the bottom